@import url(style.css);
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

.main-content {
    padding: 30px;
}

.grid-container {
  display: flex;           
  justify-content: center;
  gap: 20px;               
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    font-size: 18px;
    color: green;
    margin: 10px 0;
}

.btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
}

.footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin: 0;
}