@import url(style.css);
body{
    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: hsl(40, 4%, 15%);
  color: #0a0404;
}
header {
  background: #be2e2e;
  color: #ebe4e4;
  padding: 20px 30px;
}
}