@import url(style.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: hsl(40, 9%, 94%);
  color: #d9d2d2;
  background-color: #252525;
}
header {
  background: #be2e2e;
  color: #ddd6d6;
  padding: 20px 30px;
}
