@import url(style.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: hsl(40, 9%, 94%);
  color: #d9d2d2;
  background-color: #252525;
}
header {
  background: #be2e2e;
  color: #ddd6d6;
  padding: 20px 30px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.logo img:hover {
  transform: scale(1.1) rotate(5deg);
  opacity: 0.9;
}
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}
.menu a {
  text-decoration: none;
  color: #5f5454;
  font-weight: bold;
  transition: opacity 0.3s;
}

.menu a:hover {
  opacity: 0.8;
}
.grid-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.card {
  background: #f07e37;
  border-radius: 10px;
  padding: 30px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(153, 76, 76, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 220px;
  margin-bottom: 15px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.card img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
.titulo {
  color: #d62828;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.rating {
  color: gold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.rating span {
  color: #333;
  font-weight: bold;
}

.precio {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
}