@import url(style.css);
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fffaf0;
    color: #333;
}

.ingredientes {
    list-style: none;
    text-align: center; 
}

.card {
    background-color: #fff;
    border: none; 
    border-radius: 15px; 
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    width: 600px;
    margin: 0 auto;
}

.car:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 25px rgba(218, 229, 5, 0.25);
}

.card img {
    width: 200px; 
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card img:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.card h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.card div {
    color: #ff6600;
    font-weight: bold;
    margin-bottom: 10px;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 15px;
}

.btn {
    padding: 10px 25px;
    margin: 10px 8px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s
}

.btn-comprar {
    background-color: #0b0804;
    color: white;
}

.btn-comprar:hover {
    background-color: #2c2a23;
    transform: scale(1.05);
}

.btn-carrito {
    background-color: #1a1811; 
    color: whitesmoke;
}
