*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fffaf0;
    color: #333;
}

header {
    background-color: #ff6600;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.ingredientes {
    list-style: none;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;     
    max-width: 200px; 
    height: auto;     
    border-radius: 10px;
    margin-bottom: 10px
}